#title{
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	color: #297187;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	height: 25%;
}

#title-registration-button-holder {
	height: 85%;
}

#follow-us{
	height: auto;
	min-height: auto;
}

.modal-content{
	margin-top: 15%;
}

.space-4px {
	padding: 4px 4px 4px 4px;
}

#submit-button{
	background-color: royalblue;
	color: white;
}

